# packages in environment at /Users/Hallie/anaconda3:
# 
_license                  1.1                      py36_1
alabaster                 0.7.10                   py36_1    conda-forge
anaconda                  custom           py36ha4fed55_0  
anaconda-client           1.6.5                      py_0    conda-forge
anaconda-navigator        1.6.9            py36ha31b149_0  
anaconda-project          0.8.2                    py36_0    conda-forge
appnope                   0.1.0                    py36_0    conda-forge
appscript                 1.0.1                    py36_0    conda-forge
asn1crypto                0.22.0                   py36_0    conda-forge
astroid                   1.5.3                    py36_0    conda-forge
astropy                   2.0.2               np113py36_1    conda-forge
babel                     2.5.1                    py36_0    conda-forge
backports                 1.0                      py36_1    conda-forge
backports.functools_lru_cache 1.4                      py36_1    conda-forge
backports.shutil_get_terminal_size 1.0.0                      py_3    conda-forge
beautifulsoup4            4.6.0                    py36_0    conda-forge
bitarray                  0.8.1                    py36_0    conda-forge
blas                      1.1                    openblas    conda-forge
blaze                     0.11.3                   py36_0    conda-forge
bleach                    2.0.0                    py36_0    conda-forge
blinker                   1.4                      py36_0    conda-forge
bokeh                     0.12.10                  py36_0    conda-forge
boto                      2.48.0           py36hdbc59ac_1  
bottleneck                1.2.1                    py36_1    conda-forge
bz2file                   0.98                     py36_0  
bzip2                     1.0.6                         1    conda-forge
ca-certificates           2017.11.5                     0    conda-forge
certifi                   2017.11.5                py36_0    conda-forge
cffi                      1.11.2                   py36_0    conda-forge
chardet                   3.0.4                    py36_0    conda-forge
click                     6.7                      py36_0    conda-forge
cloudpickle               0.4.0                    py36_0    conda-forge
clyent                    1.2.2                    py36_0    conda-forge
colorama                  0.3.9                    py36_0    conda-forge
conda                     4.3.29                   py36_0    conda-forge
conda-env                 2.6.0                         0    conda-forge
contextlib2               0.5.5                    py36_0    conda-forge
cryptography              2.0.3                    py36_0    conda-forge
curl                      7.55.1                        0    conda-forge
cycler                    0.10.0                   py36_0    conda-forge
cymem                     1.31.2                   py36_0    conda-forge
cython                    0.27.3                   py36_0    conda-forge
cytoolz                   0.8.2                    py36_0    conda-forge
dask                      0.16.0                     py_0    conda-forge
dask-core                 0.16.0                     py_0    conda-forge
datashape                 0.5.4                    py36_0    conda-forge
decorator                 4.1.2                    py36_0    conda-forge
dill                      0.2.6                    py36_0    conda-forge
distributed               1.20.1                   py36_0    conda-forge
docutils                  0.14                     py36_0    conda-forge
en-core-web-sm            2.0.0                     <pip>
entrypoints               0.2.3                    py36_1    conda-forge
et_xmlfile                1.0.1                    py36_0    conda-forge
fastcache                 1.0.2                    py36_0    conda-forge
flask                     0.12.2                   py36_0    conda-forge
flask-cors                3.0.3                    py36_0    conda-forge
freetype                  2.7                           1    conda-forge
ftfy                      4.4.2                    py36_0    conda-forge
gensim                    3.0.1            py36hb2e1576_0  
get_terminal_size         1.0.0                h7520d66_0  
gevent                    1.2.2                    py36_0    conda-forge
giflib                    5.1.4                         0    conda-forge
gmp                       6.1.2                         0    conda-forge
gmpy2                     2.0.8                    py36_1    conda-forge
graphviz                  2.38.0                        4    conda-forge
greenlet                  0.4.12                   py36_0    conda-forge
h5py                      2.7.1                    py36_2    conda-forge
hdf5                      1.10.1                        1    conda-forge
heapdict                  1.0.0                    py36_0    conda-forge
html5lib                  0.999999999              py36_0    conda-forge
icu                       58.2                          0    conda-forge
idna                      2.6                      py36_1    conda-forge
imageio                   2.2.0                    py36_0    conda-forge
imagesize                 0.7.1                    py36_0    conda-forge
imread                    0.6                 np113py36_0    conda-forge
intel-openmp              2018.0.0             h8158457_8  
ipykernel                 4.6.1                    py36_0    conda-forge
ipython                   6.2.1                    py36_0    conda-forge
ipython_genutils          0.2.0                    py36_0    conda-forge
ipywidgets                7.0.5                    py36_0    conda-forge
isort                     4.2.15                   py36_0    conda-forge
itsdangerous              0.24                       py_2    conda-forge
jbig                      2.1                           0    conda-forge
jdcal                     1.3                      py36_0    conda-forge
jedi                      0.10.2                   py36_0    conda-forge
jinja2                    2.9.6                    py36_0    conda-forge
joblib                    0.11                     py36_0    conda-forge
jpeg                      9b                            2    conda-forge
jsonschema                2.6.0                    py36_0    conda-forge
jupyter                   1.0.0                    py36_0    conda-forge
jupyter_client            5.1.0                    py36_0    conda-forge
jupyter_console           5.2.0                    py36_0    conda-forge
jupyter_core              4.4.0                      py_0    conda-forge
keras                     2.0.9                    py36_0    conda-forge
krb5                      1.14.2                        0    conda-forge
lazy-object-proxy         1.3.1                    py36_0    conda-forge
libffi                    3.2.1                         3    conda-forge
libgfortran               3.0.0                         0    conda-forge
libgpuarray               0.7.5                         0    conda-forge
libiconv                  1.15                          0    conda-forge
libpng                    1.6.34                        0    conda-forge
libsodium                 1.0.15                        1    conda-forge
libssh2                   1.8.0                         2    conda-forge
libtiff                   4.0.7                         1    conda-forge
libwebp                   0.5.2                         7    conda-forge
libxml2                   2.9.5                         2    conda-forge
libxslt                   1.1.32                        0    conda-forge
llvmlite                  0.20.0                   py36_0  
locket                    0.2.0                    py36_1    conda-forge
lxml                      4.1.1                    py36_0    conda-forge
mako                      1.0.7                    py36_0    conda-forge
markupsafe                1.0                      py36_0    conda-forge
matplotlib                2.1.0                    py36_0    conda-forge
mccabe                    0.6.1                    py36_0    conda-forge
mistune                   0.8                      py36_0    conda-forge
mkl                       2018.0.1             hfbd8650_4  
mkl-service               1.1.2            py36h7ea6df4_4  
mock                      2.0.0                    py36_0    conda-forge
mpc                       1.0.3                         4    conda-forge
mpfr                      3.1.5                         0    conda-forge
mpmath                    1.0.0                      py_0    conda-forge
msgpack-numpy             0.4.1                      py_0    conda-forge
msgpack-python            0.4.8                    py36_0    conda-forge
multipledispatch          0.4.9                    py36_0    conda-forge
murmurhash                0.28.0                   py36_0  
navigator-updater         0.1.0            py36h7aee5fb_0  
nbconvert                 5.3.1                      py_1    conda-forge
nbformat                  4.4.0                    py36_0    conda-forge
ncurses                   5.9                          10    conda-forge
networkx                  2.0                      py36_0    conda-forge
nltk                      3.2.5                      py_0    conda-forge
nose                      1.3.7                    py36_2    conda-forge
notebook                  5.2.1                    py36_2    conda-forge
numba                     0.35.0              np113py36_6  
numexpr                   2.6.4                    py36_0    conda-forge
numpy                     1.13.3          py36_blas_openblas_201  [blas_openblas]  conda-forge
numpydoc                  0.7.0                    py36_0    conda-forge
oauthlib                  2.0.6                      py_0    conda-forge
odo                       0.5.1                    py36_0    conda-forge
olefile                   0.44                     py36_0    conda-forge
openblas                  0.2.20                        4    conda-forge
openpyxl                  2.5.0b1                  py36_0    conda-forge
openssl                   1.0.2l                        0    conda-forge
packaging                 16.8                     py36_0    conda-forge
pandas                    0.21.0                   py36_0    conda-forge
pandoc                    2.0.0.1                       1    conda-forge
pandocfilters             1.4.1                    py36_0    conda-forge
partd                     0.3.8                    py36_0    conda-forge
path.py                   10.3.1                   py36_0    conda-forge
pathlib                   1.0.1                     <pip>
pathlib2                  2.3.0                    py36_0    conda-forge
patsy                     0.4.1                    py36_0    conda-forge
pbr                       3.1.1                    py36_0    conda-forge
pep8                      1.7.1                      py_0    conda-forge
pexpect                   4.3.0                    py36_0    conda-forge
pickleshare               0.7.4                    py36_0    conda-forge
pillow                    4.3.0                    py36_1    conda-forge
pip                       9.0.1                    py36_0    conda-forge
plac                      0.9.6                    py36_0    conda-forge
ply                       3.10                     py36_0    conda-forge
preshed                   1.0.0                    py36_0    conda-forge
prompt_toolkit            1.0.15                   py36_0    conda-forge
protobuf                  3.5.0                    py36_0    conda-forge
psutil                    5.4.0                    py36_0    conda-forge
ptyprocess                0.5.2                    py36_0    conda-forge
py                        1.5.2                      py_0    conda-forge
pycodestyle               2.3.1                    py36_0    conda-forge
pycosat                   0.6.3                    py36_0    conda-forge
pycparser                 2.18                     py36_0    conda-forge
pycrypto                  2.6.1                    py36_1    conda-forge
pycurl                    7.43.0           py36hdb90038_3  
pydotplus                 2.0.2                    py36_0    conda-forge
pyflakes                  1.6.0                    py36_0    conda-forge
pygments                  2.2.0                    py36_0    conda-forge
pygpu                     0.7.5                    py36_0    conda-forge
pyjwt                     1.5.3                      py_0    conda-forge
pylint                    1.7.1                    py36_0    conda-forge
pymc3                     3.2                      py36_0    conda-forge
pyodbc                    4.0.17                   py36_0    conda-forge
pyopenssl                 17.2.0                   py36_0    conda-forge
pyparsing                 2.2.0                    py36_0    conda-forge
pyqt                      5.6.0                    py36_4    conda-forge
pysocks                   1.6.7                    py36_0    conda-forge
pytables                  3.4.2                    py36_7    conda-forge
pytest                    3.2.5                    py36_0    conda-forge
python                    3.6.3                         1    conda-forge
python-crfsuite           0.9.2                    py36_0    conda-forge
python-dateutil           2.6.1                    py36_0    conda-forge
python.app                1.2                      py36_0    conda-forge
pytz                      2017.3                     py_2    conda-forge
pywavelets                0.5.2                    py36_1    conda-forge
pyyaml                    3.12                     py36_1    conda-forge
pyzmq                     16.0.2                   py36_2    conda-forge
qt                        5.6.2                h9e3eb04_4    conda-forge
qtawesome                 0.4.4                    py36_0    conda-forge
qtconsole                 4.3.1                    py36_0    conda-forge
qtpy                      1.3.1                    py36_0    conda-forge
readline                  6.2                           0    conda-forge
regex                     2017.4.5                  <pip>
regex                     2017.11.09               py36_0    conda-forge
requests                  2.18.4                   py36_1    conda-forge
requests-oauthlib         0.8.0                    py36_1    conda-forge
rope                      0.10.7                   py36_0    conda-forge
ruamel_yaml               0.11.14                  py36_0    conda-forge
scikit-image              0.13.0                   py36_2    conda-forge
scikit-learn              0.19.1          py36_blas_openblas_201  [blas_openblas]  conda-forge
scipy                     1.0.0           py36_blas_openblas_201  [blas_openblas]  conda-forge
seaborn                   0.8.1                    py36_0    conda-forge
setuptools                37.0.0                   py36_0    conda-forge
simplegeneric             0.8.1                    py36_0    conda-forge
singledispatch            3.4.0.3                  py36_0    conda-forge
sip                       4.18                     py36_1    conda-forge
six                       1.11.0                   py36_1    conda-forge
smart_open                1.5.3                    py36_0    conda-forge
snowballstemmer           1.2.1                    py36_0    conda-forge
sortedcollections         0.5.3                    py36_0    conda-forge
sortedcontainers          1.5.7                    py36_0    conda-forge
spacy                     2.0.3                    py36_0    conda-forge
sphinx                    1.6.5                    py36_0    conda-forge
sphinxcontrib-websupport  1.0.1                    py36_0    conda-forge
spyder                    3.2.4                    py36_0    conda-forge
sqlalchemy                1.1.13                   py36_0    conda-forge
sqlite                    3.13.0                        1    conda-forge
statsmodels               0.8.0                    py36_0    conda-forge
sympy                     1.1.1                    py36_0    conda-forge
tblib                     1.3.2                    py36_0    conda-forge
tensorflow                1.0.0                    py36_0    conda-forge
termcolor                 1.1.0                    py36_1    conda-forge
terminado                 0.8                      py36_0    conda-forge
testpath                  0.3.1                    py36_0    conda-forge
textblob                  0.13.0                   py36_0    conda-forge
theano                    0.9.0                    py36_1    conda-forge
thinc                     6.10.0                   py36_0    conda-forge
tk                        8.5.19                        2    conda-forge
toolz                     0.8.2                      py_2    conda-forge
tornado                   4.5.2                    py36_0    conda-forge
tqdm                      4.19.4                     py_0    conda-forge
traitlets                 4.3.2                    py36_0    conda-forge
twython                   3.6.0                    py36_0    conda-forge
typing                    3.6.2                    py36_0    conda-forge
ujson                     1.35                     py36_0    conda-forge
unicodecsv                0.14.1                   py36_0    conda-forge
unixodbc                  2.3.4                         1    conda-forge
urllib3                   1.22                     py36_0    conda-forge
wcwidth                   0.1.7                    py36_0    conda-forge
webencodings              0.5                      py36_0    conda-forge
werkzeug                  0.12.2                     py_1    conda-forge
wheel                     0.30.0                     py_1    conda-forge
widgetsnbextension        3.0.8                    py36_0    conda-forge
wikipedia                 1.4.0                    py36_0    conda-forge
wrapt                     1.10.11                  py36_0    conda-forge
xlrd                      1.1.0                    py36_1    conda-forge
xlsxwriter                1.0.2                      py_0    conda-forge
xlwings                   0.11.4                   py36_0    conda-forge
xlwt                      1.3.0                    py36_0    conda-forge
xz                        5.2.3                         0    conda-forge
yaml                      0.1.6                         0    conda-forge
zeromq                    4.2.1                         1    conda-forge
zict                      0.1.3                      py_0    conda-forge
zlib                      1.2.11                        0    conda-forge
